.background-area {
    /* background-color: rgba(255, 255, 255, 0.9); */
    background-color: var(--just-white);
    box-shadow: 9px 9px 31px rgba(1, 24, 51, 0.12);
}

h1,
h3 {
    color: var(--Oxford-Blue-Strong);
}

p {
    color: var(--Sapphire-Blue);
}

#particles-js {
    background-color: var(--White);
}

.main-container .header .header__mode {
    width: 40px;
    height: 40px;
    background-image: url('../Assets/Icons/mode-dark.png');
}

.main-container .header .header__nav a {
    color: var(--Sapphire-Blue);
}

.main-container .main .main__form form label input,
.main-container .main .main__form form label textarea {
    color: var(--Oxford-Blue-Strong);
}

.main-container .main .main__form form .button {
    color: var(--just-white);
    background-color: var(--Oxford-Blue-Strong);
    box-shadow: 9px 9px 31px rgba(1, 24, 51, 0.30);
}

.main-container .footer {
    background-color: var(--Oxford-Blue-Strong);

}

.main-container .footer ul li a {
    color: var(--White);
}