.background-area {
    /* background-color: rgba(1, 30, 64, 0.9); */
    background-color: var(--Oxford-Blue);
    box-shadow: 9px 9px 31px rgba(255, 255, 255, 0.12);
}

h1,
h3 {
    color: var(--just-white);
}

p {
    color: var(--just-white);
}

#particles-js {
    background-color: var(--Oxford-Blue-Strong);
}

.main-container .header .header__nav a {
    color: var(--Sapphire-Blue);
}

.main-container .header .header__mode {
    width: 40px;
    height: 40px;
    background-image: url('../Assets/Icons/mode-light.png');
}

.main-container .main .main__form form label input,
.main-container .main .main__form form label textarea {
    color: var(--Oxford-Blue-Strong);
}

.main-container .main .main__form form .button {
    color: var(--just-white);
    background-color: var(--Oxford-Blue);
    box-shadow: 9px 9px 32px rgba(255, 255, 255, 0.12);
}

.main-container .footer {
    background-color: var(--Oxford-Blue);

}

.main-container .footer ul li a {
    color: var(--White);
}