@media only screen and (min-width: 800px) {
    .main-container .header .header__logo {
        margin-inline-start: 10%;
    }

    .main-container .header .header__mode {
        margin-inline-end: 10%;
    }
    .main-container .header .header__nav {
        width: 60%;
    }

    .main-container .main .main__carousel {
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
    }

    .main-container .main .main__carousel .main__carousel--card {
        margin-inline: 0px;
    }

    .main-container .main .main__form .img {
        display: block;
    }

    .main-container .main .main__form form {
        margin-inline: 0;
    }

    .main-container .footer ul li a {
        font-size: 1.4rem;
    }
}