@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
/*
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/
:root {
    /*Variables de Color*/
    --Oxford-Blue-Strong: #011833;
    --Oxford-Blue: #011E40;
    --White: #FAFCFF;
    --just-white: #FFFFFF;
    --Sapphire-Blue: #186999;
    --Red-Crayola: #ED254E;
    --Goldenrod: #E3B03B;
    --grey: #BABABA;
}
*{
    /*Se resetean los valores del navegador*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    /*Esto es para utilizar rem*/
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}
.flex-layout-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flex-layout-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#particles-js {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
}
.main-container {
    z-index: 1;
    position: relative;
}
.main-container .header {
    width: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 9px 9px 31px rgba(1, 24, 51, 0.12);
}
.main-container .header .header__logo, .main-container .header .header__mode {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-inline: 16px;
    margin-block: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-container .header .header__logo {
    background-image: url('Assets/Images/logo.png');
}
.main-container .header .header__mode {
    background-image: url('Assets/Images/mode-dark.png');
}
.main-container .header .header__nav {
    display: none;
    justify-content: flex-end;
    width: 80%;
}
.main-container .header .header__nav a{
    margin-inline-start: 3.0rem;
    font-size: 2.8rem;
    font-weight: lighter;
    text-decoration: none;
    color: var(--Sapphire-Blue);
}